.sidebar {
    color: #fff;
    background: var(--slack-color);
    border-top: 1px solid #49274b;
    max-width: 260px;
}

.sidebar hr {
    margin: 10px 0;
    border: 1px solid #49274b;
}

.sidebar__header {
    border-bottom: 1px solid #49274b;
    display: flex;
    padding-bottom: 10px;
    padding: 13px;
    align-items: center;
}

.sidebar__header>.MuiSvgIcon-root {
    padding: 8px;
    color: #49274b;
    font-size: 35px;
    background-color: #fff;
    border-radius: 999px;
}

.sidebar__info {
    flex: 1;
}

.sidebar__info h2 {
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 5px;
}

.sidebar__info h3 {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 400;
}

.sidebar__info>h3>.MuiSvgIcon-root {
    font-size: 14px;
    margin: 1px 2px 0 0;
    color: green;

}
